.content {
    background-color: gray;
    color: white;
    height: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

h1 {
    padding-top: 35%;
    text-decoration: overline;
    text-shadow: black 1px 0 10px;
}

body {
    background-color: black;
}