.content {
    background-color: gray;
    height: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

h1 {
    padding-top: 45vh;
    font-size: 5vh;
    color: white;
    text-decoration: overline;
    text-shadow: black 1px 0 10px;
}

h2 {
    padding-top: 45vh;
    font-size: 5vh;
    color: red;
    border-bottom: black 2px solid;
    text-shadow: black 0px 30px 0px;
    font-style: italic;
}

body {
    background-color: black;
}