.content {
    background-color: gray;
    height: 100%;
    max-width: 100%;
    width: fit-content;
    min-width: 30vw;
    word-break: break-all;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-sizing:border-box
}

h1 {
    padding-top: 20vh;
    font-size: 10vh;
    color: white;
    text-decoration: underline;
    text-shadow: black 1px 0 10px;
}

h2 {
    padding-top: 45vh;
    font-size: 5vh;
    color: red;
    border-bottom: black 2px solid;
    text-shadow: black 0px 30px 0px;
    font-style: italic;
}

body {
    background-color: black;
}

b {
    font-size: 8vh;
}